<h2>Editar Usuario: <%=current_user.email%></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :autocomplete => "off", :hint => "Dejar en blanco si no desea cambiarlo", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.input :current_password, :hint => "Necesitamos su password para guardar los cambios", :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>Descontento? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "Esta seguro?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
