<%- model_class = Actividad.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Actividades" %></h1>
</div>

<%= form_tag actividads_path, method: :get do %>
    <div class="field">
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", name: nil %>
    </div>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", "Id" %></th>
      <th><%= sortable model_class.human_attribute_name(:nombre) %></th>
      <th>Dia Habil</th>
      <th><%= sortable model_class.human_attribute_name(:fecha) %></th>
      <th><%= sortable "tipo_id", "Tipo" %></th>
      <th><%= sortable "puntuacion", "Puntuacion" %></th>
      <th>Creado en</th>
       
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @actividads.each do |actividad| %>
      <tr>
        <td><%= link_to actividad.id, actividad_path(actividad) %></td>
        <td><%= actividad.nombre %></td>
        <td><%= actividad.diahabil %></td>
        <td><%= actividad.fecha %></td>
        <td><%= link_to actividad.tipo_actividad.Nombre, actividad.tipo_actividad %></td>
        <td><%= actividad.puntuacion %></td>
        <td><%=l actividad.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_actividad_path(actividad), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      actividad_path(actividad),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_actividad_path,
            :class => 'btn btn-primary' %>
