<h1>User#index</h1>

<table>
  <tr>
    <th>Username
    <th>Email</th>
    <th>Perfil</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <% if current_user.id != user.id%>
    <td><%= user.username%></td>
    <td><%= user.email %></td>
    <td><%= user.perfil.Nombre %></td>
    <td> <%= link_to 'Show', user_path(user) %>
    <td><%= link_to 'Edit', edit_user_path(user)%></td>
    <%end%>
  </tr>
<% end %>
</table>
