<h2>New User</h2>

<%= simple_form_for @user do |f| %>
  <!--<%= f.error_notification %>-->

  <div class="inputs">
    <%= f.input :username, :required => true, :autofocus => true %>
    <%= f.input :email %>
    <%= f.input :password, :required => true %>
    
    <%= f.input :password_confirmation, :required => true %>
    <%= f.association :perfil, :collection => Perfil.all ,:label_method => :Nombre,  :label => "Seleccione un perfil: " %>
   
  </div>

  <div class="actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>


